<section class="test-join">
    <div class="border rounded d-flex flex-column bg-white mx-auto p-5 max-width-35 mt-3">
        <div class="text-center mb-3">
            <h3>Welcome to Interview Test</h3>
        </div>
        <h5 class="mb-3 text-secondary">AGG invites you to take a programming test</h5>
        <h4>Rules:</h4>
        <div class=" d-flex flex-column align-items-left">
            <div class="information-test text-secondary">
                <span>1. The Candidate will enter Code to join the Test</span>
            </div>
            <div class="information-test text-secondary">
                <span>2. If the Test time-out, auto submit result  </span>
            </div>
            <div class="information-test text-secondary">
                <span>3. Candidate can submit any time before the deadline.</span>
            </div>
        </div>
    </div>
    <div class="border rounded bg-white d-flex flex-column align-items-center mx-auto p-5 max-width-35 mt-3">
        <h3 class="text-center">Test code</h3>
        <div class="d-flex flex-column mb-3 w-100">
            <span>Enter your test code</span>
            <input type="text" placeholder="Test code" class="form-control">
        </div>
        <button class="btn btn-primary" [routerLink]="['/question']">Start the Test!!</button>
    </div>
</section>
